@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<SideKickDLL.Tilasto>

@{
    ViewData["Title"] = "Index";
}

<style>
    .taustakuva {
        background-image: url("../bgimg/mallardcity.png")
    }
</style>

<div class=" taustakuva">
    <div class="teksti">
        <p class="kertoja">
            Supersankarit ovat todellisia. Yksi heistä on paras ystäväsi. Sinua ei ole supervoimilla siunattu, mutta olet jotain mitä jokainen supersankari tarvitsee: olet hänen sidekick, apuri, oikea käsi ja tekniikkavelho. <br /><br />Kun sankarimme taistelee pahaa vastaan ympäri maailmaa, sinä istut mukavassa tuolissasi tietokoneen ääressä ja ratkaiset ongelmia joihin supervoimat eivät auta. Kuten niin moni muukin perjantai, tämäkin alkaa sankarimme viestin vastaanottamisella.
        </p>
        <p class="sankari">
            Apurini, tilanne näyttää todella pahalta. Ellemme pääse käsiksi Tohtori Stockenten koodiin, <span title="Kuun Voi Ampua Alas Kiertoradalta">K.V.A.A.K</span> -laser räjäyttää Kuun taivaalta. Tarvitsen kaiken apusi päihittääkseni Stockenten."
        </p>
        <p>
            @if (SignInManager.IsSignedIn(User))
            {
                @Html.ActionLink("Aloita peli", "Kulkukortti", "Peli", null, new { @class = "btn btn-primary" })
            }
            else
            {
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Kirjaudu aloittaaksesi pelin</a>
            }
        </p>
    </div>
</div>