/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #e5e5e5;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: indigo;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

@font-face {
    font-family: 'Blade Runner Movie Font';
    font-style: normal;
    font-weight: normal;
    src: local('Blade Runner Movie Font'), url('blade_runner.woff') format('woff');
}

h1, h2, h3, h4 {
    font-family: 'Blade Runner Movie Font';
    color: coral;
}

p, .table {
    color: #fb6eab;
}

.alert-warning {
    color: teal;
    background-color: turquoise;
    border-color: darkturquoise;
}

#main {
    margin: auto;
    height: 500px;
    width: 500px;
}

#acquario {
    margin: auto;
    background-image: url("../media/vesi.jpg");
    /*border-bottom: 28px solid black;
    border-top: 28px solid black;
    border-right: 7px solid black;
    border-left: 7px solid black;*/
    height: 100%;
    width: 100%;
}

.sankari{
    color: #ff1442;
}

.npc {
    color: turquoise;
}

.jumbotron {
    background: rgb(215, 187, 236); /* This is for ie8 and below */
    background: rgba(215, 187, 236, 0.4);
}

.nappi {
    margin: 2px 0px;
}