@{
    ViewData["Title"] = "Ankkalampi";
}
<div class="jumbotron">
    <h1>Ankkalampi</h1>
    <div id="main">
        <div id="acquario"></div>
    </div>
    <script src="~/js/ankkalampi.js"></script>
</div>