
@{
    ViewData["Title"] = "Ankkalampi";
}
<h1>Ankkalampi</h1>
<p class="sankari">Olen keskellä allasta, jossa on ... Miksi </p>
<p class="npc">Näen etäyhteyden avulla, että altaassa on jonkinlainen avain poispääsyyn.</p>
<p class="sankari">Täällä on satoja kumiankkoja!?</p>
<p class="npc">Voitko toistaa??</p>
<p>Onko joku niistä erilainen?</p>
<div id="main">
    <div id="acquario"></div>
</div>
<script src="~/js/ankkalampi.js"></script>
