
@{
    ViewData["Title"] = "Color_It_Redd";
}
<div class="jumbotron">
    <style>
        .taustakuva {
            background-image: url("../bgimg/IMG_0301.png")
        }
    </style>
    <div class=" taustakuva">
        <div class="teksti">
            <p class="sankari">
                Löysit nimen, mahtavaa! Eikä siinä mennyt kuin hetki... Käteni voi muuten hyvin, kiitos kysymästä.
            </p>
            <p class="npc">
                Tiedän että Stockenten kätyrit viestittelevät Facebookissa tai jossain sosiaalisessa mediassa. Jostain syystä he käyttävät omia nimiään.
            </p>
            <p class="sankari">
                Joko he ovat täysiä idiootteja tai heillä on jokin taka-ajatus. Tarvitsen koodin jolla pääsisin kuuntelemaan heidän radioliikennettään. Ehkä somesta löytyy apua?
            </p>

            <form action="color_it_redd" method="post" class="form-inline">
                <div class="form-group m-1">
                    <input type="text" class="form-control" name="pinkoodi" placeholder="koodi" />
                </div>
                <div class="form-group m-1">
                    <input type="submit" class="btn btn-light" name="reddnappi" value="Anna koodi" />
                </div>
            </form>
        </div>
    </div>
</div>
