
@{
    ViewData["Title"] = "Color_It_Redd";
}

<h1>Color_It_Redd</h1>

<p>
    Löysit nimen, mahtavaa! Eikä siinä mennyt kuin hetki... Käteni voi muuten hyvin, kiitos kysymästä.
</p>
<p>
    Tiedän että Stockenten kätyrit viestittelevät Facebookissa tai jossain sosiaalisessa mediassa. Jostain syystä he käyttävät omia nimiään.
</p>
<p>
    "Joko he ovat täysiä idiootteja tai heillä on jokin taka-ajatus. Tarvitsen koodin jolla pääsisin kuuntelemaan heidän radioliikennettään. Ehkä somesta löytyy apua?"
</p>

<form action="color_it_redd" method="post">
    <input type="text" name="pinkoodi" />
    <input type="submit" name="reddnappi" value="Anna koodi" />
</form>

