
@{
    ViewData["Title"] = "HavisitPelin";
}

<style>
    .taustakuva {
        background-image: url("../bgimg/losegame169.png")
    }
</style>

<div class="taustakuva">
    <div class="teksti">
        <p class="sankari">Väärä johto! Kamalaa, kuu on aivan tomuna!</p>
        <p class="kertoja">Hävisit pelin!</p>
    </div>
</div>

