@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model SideKickMVC.Models.Taso

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Korkein läpäisty taso
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tilasto.Aika)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Tilasto.Taso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Tilasto.Aika)
                    </td>
                </tr>

            </tbody>
        </table>
        for (int i = 0; i <= Model.Tilasto.Taso; i++)
        {

            @Html.ActionLink($"Taso{i+1}", Taso.Linkit[i+1], "Peli", null, new { @class = "btn btn-primary" })
        }
    }
    else
    {
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Kirjaudu päästäksesi peliin</a>
    }
</p>
