@model Tehtavat
@{
    ViewData["Title"] = "Kulkukortti";
    Random r = new Random();
    int i = r.Next(1, Tehtavat.Kulkukortit.Count+1);
}
<div class="jumbotron">
    <h1>kulkukortti</h1>
    <p class="sankari">
        <a href="@Tehtavat.Kulkukortit[i]" target="_blank">Tässä</a> on kulkukortti, jonka nappasin Stockenten kätyriltä. Tällä pääsemme käsiksi Stockenten peiteyrityksen tietokantaan! Kerro kun olet sisällä.
    </p>
    <p>
        Ratkaise kulkukortin koodi jotta pääset lataamaan Stockenten tietokannasta listan henkilöistä joilla voi olla pääsy laserin käyttöön.
    </p>


    <form action="kulkukortti" method="post" class="form-inline">
        <div class="form-group m-1">
            <input type="text" class="form-control" name="korttikoodi" placeholder="koodi"/>
        </div>
        <div class="form-group m-1">
            <input type="submit" class="btn btn-light" name="koodinappi" value="Anna koodi" />
            <input type="hidden" name="random" value="@i" />
        </div>

    </form>
</div>