
@{
    ViewData["Title"] = "Labyrintti";
}
<div class="jumbotron">
    <h1 id="otsikko">labyrintti</h1>
    <p class="sankari">Ovatko he vaihtamassa kirjekyyhkyihin? Noh, minulla ei ole aikaa jäädä selvittämään sitä, sillä Stockenten kätyrit lähestyvät. Voisitko neuvoa minut kaupungin kujilta sisäänkäynnille?</p>
    <p class="npc">Hups, kartta taitaa olla väärinpäin...</p>
    <div id="peli"></div>
    <script src="~/js/labyrintti.js"></script>
    <div id="maali"></div>
</div>