
@{
    ViewData["Title"] = "Lazer";
}
    <p>
        K.V.A.A.K on käynnistynyt! Sitä ei voi enää pysäyttää nappia painamalla! <br />
        Täytyy leikata oikea johto jotta lähtölaskenta saadaan keskeytettyä! K.V.A.A.K käyttää tietojen mukaan porttia C. <br />
        Mikä näistä johdoista liittyy siihen porttiin? Jostain syystä ohjeet ovat hyvin epäselvät...<br />
        <br />  
        Punaisen johdon jännite on 500V.<br />
        100V kaapelin portti on A<br />
        400V kaapeli on kultaa<br />
        Vihreä kaapeli on valkoisen kaapelin vieressä vasemmalla<br />
        Vihreä kaapeli on terästä<br />
        Suunnikkaan muotoisella liittimellä varustettu kaapeli menee porttiin B<br />
        Keltaisessa kaapelissa on kolmion muotoinen liitin<br />
        Keskimmäinen kaapeli on alumiinia.<br />
        Ensimmäinen kaapeli vasemmalta on jännitteeltään 300V<br />
        Neliön muotoinen liitin on sen kaapelin vieressä, joka on portissa E<br />
        D-portissa oleva kaapeli on sen kaapelin vieressä, jossa on kolmion muotoinen liitin<br />
        Hopeasta valmistetussa kaapelissa on kuusikulmion muotoinen liitin<br />
        200V kaapelissa on ovaalin muotoinen liitin<br />
        300V kaapeli on sinisen kaapelin vieressä<br />
        Neliön muotoinen liitin on kuparikaapelin vieressä<br />
        <br />
        Minkä värisen johdon katkaiset?
    </p>
    <form action="Lazer" method="post" class="form-inline">
        <div class="form-group m-1">
            <input type="text" class="form-control" name="johto" placeholder="Väri" />
        </div>
        <div class="form-group m-1">
            <input type="submit" class="btn btn-light" name="johtonappi" value="Leikkaa johto" />
        </div>
    </form>
