
@{
    ViewData["Title"] = "Levysoitin";
}
<div class="jumbotron">
    <h1>levysoitin</h1>

    <p class="sankari">Huh, pääsin vartijan ohi. Hankkimieni pohjapiirrosten perusteella tässä huoneessa pitäisi olla portaikko maan alle.</p>
    <p class="sankari">Mitään ei kuitenkaan näy...</p>
    <p>Seinät ovat täynnä levyhyllyjä ja keskellä huonetta on vanha LP-soitin. Löytyisiköhän portaat soittamalla oikeata levyä?</p>
    <p>
        Levysoittimessa lukee seuraavaa: <br />
        One morning in June <br />
        some twenty years ago <br />
        I was born a rich man's son
    </p>
    <p>Mitä se tarkoittaa?</p>

    <form action="levysoitin" method="post">
        <input type="text" name="albumi" />
        <input type="submit" name="levynappi" value="Syötä albumi" />
    </form>
</div>