
@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<p>Hyviä uutisia! Sain listan auki!</p>
<p>Mahtavaa, kerro kenellä listan henkilöistä on pääsy K.V.A.A.K -laseriin?</p>
<p>Huonoja uutisia, listalla on koko multiversumin tietokannat sekaisin! Tässä meneekin hetki... <br /></p>
<p>Ei kiirettä, roikun vain 3000 metrissä lentokoneesta yhden käden varassa. Ota aikasi.</p>

<form action="lista" method="post">
    <input type="text" name="kätyri" />
    <input type="submit" name="listanappi" value="Anna nimi" />
</form>

