
@{
    ViewData["Title"] = "Morse";
}

<h1>Morse</h1>
<p>
    Hyviä uutisia! Sain <a href="https://raw.githubusercontent.com/markojuv/sidekick2049/master/Ep%C3%A4illyt.txt" target="_blank">listan</a> auki!
</p>
<p>Mahtavaa, kerro kenellä listan henkilöistä on pääsy K.V.A.A.K -laseriin?</p>
<p>Huonoja uutisia, listalla on koko multiversumin tietokannat sekaisin! Tässä meneekin hetki... <br /></p>
<p>Ei kiirettä, roikun vain 3000 metrissä lentokoneesta yhden käden varassa. Ota aikasi.</p>

<form action="lista" method="post">
    <input type="text" name="salasana" />
    <input type="submit" name="listanappi" value="Syötä salasana" />
</form>

