@model Tehtavat
@{
    ViewData["Title"] = "Morse";
    Random r = new Random();
    int i = r.Next(1, Tehtavat.MorseVastaukset.Count+1);
}
<div class="jumbotron">
    <h1>kaapattu tiedosto</h1>
    <p class="sankari">
        <a href="@Tehtavat.Morsekoodit[i]" target="_blank">Tässä</a> on tallenne heidän radioliikenteestään. Uskon, että pääsemme sen avulla eteenpäin.
    </p>

    <form action="morse" method="post">
        <input type="text" name="salasana" />
        <input type="submit" name="morsenappi" value="Syötä salasana" />
        <input type="hidden" name="random" value="@i" />
    </form>
</div>
