
@{
    ViewData["Title"] = "Morse";
}

<p>
    <a href="~/media/piip.wav" target="_blank">Tässä</a> on kaappaamani tiedosto, jonka mainitsin aiemmin. 
</p>

<form action="morse" method="post">
    <input type="text" name="salasana" />
    <input type="submit" name="morsenappi" value="Syötä salasana" />
</form>

