
@{
    ViewData["Title"] = "Portaikko";
}
<style>
    .taustakuva {
        background-image: url("../bgimg/portaikkotausta169.png")
    }
</style>
<div class="taustakuva">
    <div class="teksti">
        <p class="kertoja">Olet portaikossa. Mene takkahuoneeseen.</p>
    </div>
</div>
