@model SideKickDLL.Tilasto

@{
    ViewData["Title"] = "Takkahuone";
}

<div class="jumbotron">
  <h1>pääsit takkahuoneeseen. Hienoa.</h1>
  <form action="Ankkalampi">
      <input type="submit" name="jatka" value="Jatka" />
      @{Helper.PostNew(new SideKickDLL.Tilasto() { Nimi = User.Claims.First().Value, Taso = 8, Aika = DateTime.Now }); }
  </form>
</div>
