@using SideKickDLL
@model SideKickDLL.Tilasto

@{
    ViewData["Title"] = "Takkahuone";
}

<div class="jumbotron">
    <h1>löysit takkahuoneen. Hienoa.</h1>
    <form action="Ankkalampi">
        <input type="submit" class="btn btn-light" name="jatka" value="Jatka" />
        @{
            Tilasto t = Helper.GetPlayerByName(User.Claims.First().Value).Where(t => t.Taso == 8).FirstOrDefault();
            if (t == null)
            {
                Helper.PostNew(new Tilasto() { Nimi = User.Claims.First().Value, Taso = 8, Aika = DateTime.Now });
            }
        }
    </form>
</div>
