@using SideKickDLL
@model SideKickDLL.Tilasto

@{
    ViewData["Title"] = "Takkahuone";
}
<style>
    .taustakuva {
        background-image: url("../bgimg/takka169.png")
    }
</style>
<div class="taustakuva">
    <div class="teksti">
        <p class="npc">Pääsit takkahuoneeseen, hienoa!</p>
        <p class="sankari">Olen takkahuoneessa. Mihin seur...wooooooOOOoo</p>
        <form action="Ankkalampi">
            <input type="submit" class="btn btn-light" value="Jatka" />
            @{
                Tilasto t = Helper.GetPlayerByName(User.Claims.First().Value).Where(t => t.Taso == 8).FirstOrDefault();
                if (t == null)
                {
                    Helper.PostNew(new Tilasto() { Nimi = User.Claims.First().Value, Taso = 8, Aika = DateTime.Now });
                }
            }
        </form>
    </div>
</div>
