
@{
    ViewData["Title"] = "Takkahuone";
}
<div class="jumbotron">
    <h1>löysit takkahuoneen. Hienoa.</h1>
    <form action="Ankkalampi">
        <input type="submit" name="jatka" value="Jatka" />
    </form>
</div>
