
@{
    ViewData["Title"] = "VoititPelin";
}
<style>
    .taustakuva {
        background-image: url("../bgimg/wingame169.png")
    }
</style>

<div class="taustakuva">
    <div class="teksti">
        <p class="sankari">Maailma pelastui jälleen kerran. Hyvää duunia sivupotku, en olisi ehkä onnistunut tässä näin nopeasti ilman sinua. Seuraavaan kertaan, amigo!</p>
        <p class="kertoja">Voitit pelin!</p>
    </div>
</div>


